
header {
    background: linear-gradient(to bottom, #333,red); /* Gradient from dark to light */
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    background: #555;
    text-align: left;
    padding: 10px;
}

nav ul li {
    display: inline;
}



nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    transition: color 0.3s, background-color 0.3s; 
}


nav ul li a:hover {
    color: gold; 
}

nav ul li a.active{
    color: gold;
}

main {
    display: flex;
}

.main-content {
    flex: 2;
    padding: 20px;
}
.content-with-image {
    overflow: hidden;
}
.content-with-image img {
    float: left;
    margin-right: 15px; 
}


img{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;

}

aside {
    flex: 1;
    background: #eee;
    padding: 10px;
    margin-right: 20px;
}

aside ul li{ 
    margin: 10px;
}

aside ul li a{
    text-decoration: none;
    color: black;
}


/*footer*/
footer {
    background: linear-gradient(to bottom, #333, red); 
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media query tab */
@media (max-width: 768px) {
    nav ul {
        padding: 5px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px;
    }

    nav ul li a {
        padding: 10px 20px;
    }
}


/* Media query for mobile  */
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px;
    }

    nav ul li a {
        padding: 10px;
    }

    main {
        display: block;
    }

    .main-content {
        flex: 1;
        padding: 10px;
    }

    .content-with-image img {
        max-width: 100%; 
        float: none; 
        margin: 0;
    }

    aside {
        flex: 1;
        padding: 10px;
        margin-right: 0;
    }
}